<footer class="footer_auto">
<a href="mailto:emil.k.jonsson@gmail.com?Subject=Hello!" target="_blank"><i class="icon-mail"></i></a><span class="footer-icons"><a href="http://se.linkedin.com/pub/emil-jönsson/5b/16b/b82/" target="_blank"><i class="icon-linkedin"></i></a></span><a href="https://twitter.com/EmilDigital" target="_blank"><i class="icon-twitter-auto"></i></a>
<div class="footertext_auto">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 <br>
Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
</footer>