<footer class="footer_auto">
<a class="subscribe_auto icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_auto">Subscribe!</span></a>
<div class="footertext_auto">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</div>
<div class="footertext_auto">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
</footer>